html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
}

#myBtn {
  position: fixed;
  background-color: #06bc9b;
  box-shadow: 0 0 10px 0 #777 inset, 0 0 10px 4px #777777;
  color: #fff;
  bottom: 3%;
  right: 3%;
  font-size: 15px;
  padding: 7px;
  display: none;
}

#myBtn:hover {
  background-color: #1ba49c;
}

#title {
  height: 100vh;
  background-color: #06bc9b;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  color: #fff;
}

.container-fluid {
  height: 100%;
  padding: 3% 15%;
}

h1 {
  font-size: 7vh;
  line-height: 1.5;
  font-family: "Montserrat-Black";
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 5%;
}

h3 {
  font-family: "Montserrat-Bold";
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #fff;
}

.nav-link:hover {
  font-weight: bold;
}

.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

#profile-picture {
  display: block;
  height: 30vh;
  border-radius: 10%;
}

.a {
  margin-top: 15%;
}

/* About Section */

#about {
  height: 100vh;
  padding: 5% 15%;
}

.about-box {
  text-align: center;
  padding: 5%;
}

.about-box p {
  color: #8f8f8f;
  line-height: 1.5;
}

.about-box i {
  color: #06bc9b;
  margin-bottom: 7%;
}

.about-box i:hover {
  color: #1ba49c;
}

/* Achievement Section  */

#achievement {
  height: 100vh;
  padding: 3% 15%;
  text-align: center;
  background-color: #06bc9b;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  color: #fff;
}

#achievement-carousel {
  margin-top: 10%;
}

.certificate {
  height: 50vh;
  margin: auto;
}

/* Projects Section  */

#projects {
  /* height: 100vh; */
  padding: 5% 15%;
}

/* .projects-wrapper {
  margin-top: 5%;
  margin-left: 0px;
  margin-right: 0px;
} */
.project-card {
  margin-bottom: 15px;
  margin-top: 15px;
}

.project-pic {
  filter: grayscale(100%);
}
.project-pic:hover {
  filter: grayscale(10%);
}

.btn-code {
  background-color: #06bc9b;
  color: #fff;
}

.btn-code:hover {
  background-color: #1ba49c;
  color: #fff;
}

.btn-see-more {
  display: block;
  margin: 15px auto;
}
.card-btns-display {
  display: flex;
  align-items: flex-end;
}

.card-btns-display a,
.card-btns-display button {
  margin-right: 5px;
}

#collapseExample {
  padding-left: 0px;
  padding-right: 0px;
}

.extra-project1 {
  background-image: url("images/projects/broca.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.extra-project p,
.extra-project h5 {
  background: #fff;
  /* border: solid red; */
  /* visibility: hidden; */
}
/*
.extra-project:hover {
  border: solid red;
  visibility: visible;
} */

/*Contacts Section  */

#contacts {
  /* height: 100vh; */
  /* padding: 3% 15%; */
  text-align: center;
  background-color: #06bc9b;
  color: #fff;
  padding: 3%;
}

#contacts h2 {
  /* padding-top: 3%; */
  font-size: 2rem;
  margin-bottom: 0;
}

#contacts div a {
  height: 100%;
}
#contacts div i {
  color: #fff;
  padding: 10px;
}

#contacts div i:hover {
  /* border-radius: 50%; */
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}

@media (max-width: 992px) {
  #projects,
  #about {
    height: auto;
    /* padding-bottom: 20% */
  }
  .about-skills p {
    display: inline;
    padding-right: 10px;
  }

  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
