body {
  font-family: "Montserrat";
}
#title {
  height: 100vh;
  background-color: #06bc9b;
  color: #fff;
}

* {
  /* border: solid black; */
}

.container-fluid {
  height: 100%;
  padding: 3% 15%;
}

h1 {
  font-size: 7vh;
  line-height: 1.5;
  font-family: "Montserrat-Black";
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
}

.nav-item {
  padding: 0 15px;
}

nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

#profile-picture {
  display: block;
  height: 30vh;
  border-radius: 10%;
}

.a {
  margin-top: 15%;
}

/* About Section */

#about {
  height: 100vh;
  padding: 5% 15%;
}

.about-box {
  text-align: center;
  padding: 5%;
}

.about-box p {
  color: #8f8f8f;
}

.about-box i {
  color: #06bc9b;
  margin-bottom: 7%;
}

.about-box i:hover {
  color: #1ba49c;
}

/* Achievement Section  */

#achievement {
  height: 100vh;
  padding: 3% 15%;
  text-align: center;
  background-color: #06bc9b;
  color: #fff;
}

#achievement-carousel {
  margin-top: 10%;
}

.certificate {
  /* width: 40%; */
  height: 50vh;
  margin: auto;
}
